{% extends 'base.html.twig' %}

{% block title %}
  Blog - Feuilles médicinales | Atoumo
{% endblock %}

{% block body %}
  <!-- Blog Section Begin -->
<head>
    <title>Page en construction</title>
</head>
<body>
    <h1>Bientôt sur votre site </h1>
    <img src="{{ asset('assets/images/fixe/banner/construction.png') }}" alt="En construction">
    <p>Nous sommes en train de travailler dur pour vous apporter une expérience encore meilleure. Merci de votre patience.</p>
</body>
</html>  <!-- Blog Section End -->
{% endblock %}
